replicaCount: 2

image:
  repository: my-testing-app
  tag: latest

service:
  type: ClusterIP
  port: 8080

resources:
  limits:
    cpu: 300m
    memory: 384Mi
  requests:
    cpu: 150m
    memory: 192Mi
